In [2]:
import pandas as pd
import pm4py as pm
import numpy as np

training_file_path = '12689204\BPI_Challenge_2012.XE\BPI_Challenge_2012.XE-training.csv'

### load CSV with pandas and pm4py

pm4py gives two extra column: @@index and @@case_index

In [3]:
event_log = pd.read_csv(training_file_path, sep=',')
event_log = pm.format_dataframe(
    event_log, 
    case_id='case concept:name', 
    activity_key='event concept:name', 
    timestamp_key='event time:timestamp'
)

C:\Users\linyu\AppData\Local\Temp\ipykernel_2336\2750929623.py:2: DeprecatedWarning: format_dataframe is deprecated as of 2.3.0 and will be removed in 3.0.0. the format_dataframe function does not need application anymore.
  event_log = pm.format_dataframe(

In [4]:
def findPrintInfo():
    num_events = len(event_log)
    num_cases = len(event_log['case concept:name'].unique())
    print("Number of events: {}\nNumber of cases: {}".format(num_events, num_cases))
    print('=======================================================')

    start_activities = pm.get_start_activities(event_log)
    end_activities = pm.get_end_activities(event_log)
    print("Start activities: {}\nEnd activities: {}".format(start_activities, end_activities))
    print('=======================================================')

    print('events: ')
    print(event_log['event concept:name'].unique())

### Test time range filter

In [5]:
# test_time_range_filtered_log = pm.filter_time_range(event_log, "2011-01-01 00:00:00", "2013-01-01 00:00:00", mode='events')
# print(test_time_range_filtered_log)

### Helper methods

In [6]:
# assume sorted by caseID and time
def caseHasNextEvent(df, index):
    if index >= len(df) - 1:
        return False
    if df.loc[index, 'case concept:name'] == df.loc[index+1, 'case concept:name']:
        return True
    return False

def writeGroundtruth(df):
    df = df.head(1000)
    df = df.sort_values(by=['case concept:name','event time:timestamp'])
    #add new columns containing the name of the next event in the case and the time when it happens
    df = df.assign(ground_truth_activity='')
    df = df.assign(ground_truth_time='')

    for ind in df.index:
        if caseHasNextEvent(df, ind):
            df.at[ind,'ground_truth_activity'] = df.loc[ind+1,'event concept:name']
            df.at[ind,'ground_truth_time'] = df.loc[ind+1, 'event time:timestamp']
        else:
            df.at[ind,'ground_truth_activity'] = "N\A"
            df.at[ind,'ground_truth_time'] = "N\A"
    return df

df_event = writeGroundtruth(event_log)
df_event.to_csv('check_writeGroundtruth_out.csv')

In [7]:
def computeTimeDifference(df):
    # df['time_until_next_event'] = 0  # initialize new column with zeros
    df = df.assign(time_until_next_event=0) # initialize new column

    # iterate over each row of the dataframe
    for i, row in df.iterrows():        
        # check if there is a next row with the same case
        if caseHasNextEvent(df, i):
            nextTime = df.loc[i+1, 'event time:timestamp']
            currentTime = row['event time:timestamp']
            timeDiff = nextTime - currentTime
            df.at[i, 'time_until_next_event'] = timeDiff.total_seconds()
    
    return df

In [8]:
df_timeDiff = computeTimeDifference(df_event)
df_timeDiff.to_csv("check_computeTimeDifference.csv")
df_timeDiff.head(5)

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event org:resource,event concept:name,event lifecycle:transition,event time:timestamp,case:concept:name,concept:name,time:timestamp,@@index,@@case_index,ground_truth_activity,ground_truth_time,time_until_next_event
0,0,173688,2011-01-10 00:38:44.546000+00:00,20000,112.0,A_SUBMITTED,COMPLETE,2011-01-10 00:38:44.546000+00:00,173688,A_SUBMITTED,2011-01-10 00:38:44.546000+00:00,0,0,A_PARTLYSUBMITTED,2011-01-10 00:38:44.880000+00:00,0.334
1,1,173688,2011-01-10 00:38:44.546000+00:00,20000,112.0,A_PARTLYSUBMITTED,COMPLETE,2011-01-10 00:38:44.880000+00:00,173688,A_PARTLYSUBMITTED,2011-01-10 00:38:44.880000+00:00,1,0,A_PREACCEPTED,2011-01-10 00:39:37.906000+00:00,53.026
2,2,173688,2011-01-10 00:38:44.546000+00:00,20000,112.0,A_PREACCEPTED,COMPLETE,2011-01-10 00:39:37.906000+00:00,173688,A_PREACCEPTED,2011-01-10 00:39:37.906000+00:00,2,0,W_Completeren aanvraag,2011-01-10 00:39:38.875000+00:00,0.969
3,3,173688,2011-01-10 00:38:44.546000+00:00,20000,112.0,W_Completeren aanvraag,SCHEDULE,2011-01-10 00:39:38.875000+00:00,173688,W_Completeren aanvraag,2011-01-10 00:39:38.875000+00:00,3,0,W_Completeren aanvraag,2011-01-10 11:36:46.437000+00:00,39427.562
4,4,173688,2011-01-10 00:38:44.546000+00:00,20000,NaN,W_Completeren aanvraag,START,2011-01-10 11:36:46.437000+00:00,173688,W_Completeren aanvraag,2011-01-10 11:36:46.437000+00:00,4,0,A_ACCEPTED,2011-01-10 11:42:43.308000+00:00,356.871

In [9]:
#new collumn that indexes events within a case

def addEventNumber(df):
    # df['event_number'] = 0  # initialize new column with zeros
    df = df.assign(event_number=0)
    
    # iterate over each unique case
    for case in df['case concept:name'].unique():
        case_df = df[df['case concept:name'] == case].copy()  # subset dataframe for current case
        size = len(case_df)
        case_df['event_number'] = np.arange(size)  # assign incrementing event numbers
        df.update(case_df)  # update original dataframe with new event numbers
    
    return df

In [10]:
df_eventNum = addEventNumber(df_timeDiff)
df_eventNum.to_csv('check_addEventNumber.csv')
df_eventNum.head(10)

C:\Users\linyu\AppData\Local\Temp\ipykernel_2336\1581590682.py:12: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.update(case_df)  # update original dataframe with new event numbers

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event org:resource,event concept:name,event lifecycle:transition,event time:timestamp,case:concept:name,concept:name,time:timestamp,@@index,@@case_index,ground_truth_activity,ground_truth_time,time_until_next_event,event_number
0,0.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,112.0,A_SUBMITTED,COMPLETE,2011-01-10 00:38:44.546000+00:00,173688,A_SUBMITTED,2011-01-10 00:38:44.546000+00:00,0.0,0.0,A_PARTLYSUBMITTED,2011-01-10 00:38:44.880000+00:00,0.334,0.0
1,1.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,112.0,A_PARTLYSUBMITTED,COMPLETE,2011-01-10 00:38:44.880000+00:00,173688,A_PARTLYSUBMITTED,2011-01-10 00:38:44.880000+00:00,1.0,0.0,A_PREACCEPTED,2011-01-10 00:39:37.906000+00:00,53.026,1.0
2,2.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,112.0,A_PREACCEPTED,COMPLETE,2011-01-10 00:39:37.906000+00:00,173688,A_PREACCEPTED,2011-01-10 00:39:37.906000+00:00,2.0,0.0,W_Completeren aanvraag,2011-01-10 00:39:38.875000+00:00,0.969,2.0
3,3.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,112.0,W_Completeren aanvraag,SCHEDULE,2011-01-10 00:39:38.875000+00:00,173688,W_Completeren aanvraag,2011-01-10 00:39:38.875000+00:00,3.0,0.0,W_Completeren aanvraag,2011-01-10 11:36:46.437000+00:00,39427.562,3.0
4,4.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,NaN,W_Completeren aanvraag,START,2011-01-10 11:36:46.437000+00:00,173688,W_Completeren aanvraag,2011-01-10 11:36:46.437000+00:00,4.0,0.0,A_ACCEPTED,2011-01-10 11:42:43.308000+00:00,356.871,4.0
5,5.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,10862.0,A_ACCEPTED,COMPLETE,2011-01-10 11:42:43.308000+00:00,173688,A_ACCEPTED,2011-01-10 11:42:43.308000+00:00,5.0,0.0,A_FINALIZED,2011-01-10 11:45:09.243000+00:00,145.935,5.0
6,7.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,10862.0,A_FINALIZED,COMPLETE,2011-01-10 11:45:09.243000+00:00,173688,A_FINALIZED,2011-01-10 11:45:09.243000+00:00,6.0,0.0,O_SELECTED,2011-01-10 11:45:09.243000+00:00,0.000,6.0
7,6.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,10862.0,O_SELECTED,COMPLETE,2011-01-10 11:45:09.243000+00:00,173688,O_SELECTED,2011-01-10 11:45:09.243000+00:00,7.0,0.0,O_CREATED,2011-01-10 11:45:11.197000+00:00,1.954,7.0
8,8.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,10862.0,O_CREATED,COMPLETE,2011-01-10 11:45:11.197000+00:00,173688,O_CREATED,2011-01-10 11:45:11.197000+00:00,8.0,0.0,O_SENT,2011-01-10 11:45:11.380000+00:00,0.183,8.0
9,9.0,173688.0,2011-01-10 00:38:44.546000+00:00,20000.0,10862.0,O_SENT,COMPLETE,2011-01-10 11:45:11.380000+00:00,173688,O_SENT,2011-01-10 11:45:11.380000+00:00,9.0,0.0,W_Nabellen offertes,2011-01-10 11:45:11.554000+00:00,0.174,9.0

In [11]:
# obsolete method; done alternatively in createNaiveTimePredictor
def getLongestTraceLength(df):
    traceLengths = df.groupby('case concept:name').size()  # count number of events for each trace
    longest_trace_length = traceLengths.max()  # get maximum number of events
    return longest_trace_length

longestTrace = getLongestTraceLength(df_event)

In [12]:
def createNaiveTimePredictor(df):
    # group by event number and calculate mean of time_until_next_event
    df_naiveTimePredictor = df.groupby('event_number')['time_until_next_event'].mean().reset_index()
    return df_naiveTimePredictor

In [13]:
naiveTimePredictor = createNaiveTimePredictor(df_eventNum)
naiveTimePredictor.head(30)

    event_number  time_until_next_event
0            0.0           3.552432e-01
1            1.0           3.921100e+01
2            2.0           1.376018e+05
3            3.0           9.854418e+05
4            4.0           6.094284e+02
5            5.0           5.185245e+03
6            6.0           9.830827e+02
7            7.0           5.648852e+05
8            8.0           3.772099e+05
9            9.0           1.261161e+06
10          10.0           1.460132e+03
11          11.0           7.359432e+05
12          12.0           1.111881e+05
13          13.0           3.270304e+06
14          14.0           1.063933e+06
15          15.0           3.127859e+06
16          16.0           1.549579e+03
17          17.0           1.766221e+06
18          18.0           1.221519e+05
19          19.0           1.220260e+06
20          20.0           9.994073e+02
21          21.0           1.531802e+06
22          22.0           1.807726e+06
23          23.0           2.888048e+05
24          24.0           2.167000e+06
25          25.0           7.908772e+03
26          26.0           5.469112e+05
27          27.0           1.769130e+05
28          28.0           5.167970e+04
29          29.0           4.667218e+05

In [14]:
df_eventNum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   eventID                     1000 non-null   float64
 1   case concept:name           1000 non-null   float64
 2   case REG_DATE               1000 non-null   datetime64[ns, UTC]
 3   case AMOUNT_REQ             1000 non-null   float64
 4   event org:resource          809 non-null    float64
 5   event concept:name          1000 non-null   object
 6   event lifecycle:transition  1000 non-null   object
 7   event time:timestamp        1000 non-null   datetime64[ns, UTC]
 8   case:concept:name           1000 non-null   object
 9   concept:name                1000 non-null   object
 10  time:timestamp              1000 non-null   datetime64[ns, UTC]
 11  @@index                     1000 non-null   float64
 12  @@case_index                1000 non-null   float64
 13  ground_truth_activity       1000 non-null   object
 14  ground_truth_time           1000 non-null   object
 15  time_until_next_event       1000 non-null   float64
 16  event_number                1000 non-null   float64
dtypes: datetime64[ns, UTC](3), float64(8), object(6)
memory usage: 172.9+ KB

## Naive predictor base on mean

In [33]:

df_naive_predictor_dict = writeGroundtruth(event_log)
df_naive_predictor_dict = computeTimeDifference(df_naive_predictor_dict)
df_naive_predictor_result = df_naive_predictor_dict.copy()
df_naive_predictor_dict = df_naive_predictor_dict.groupby(['event concept:name']).agg(
    naive_prediction_activity = ('ground_truth_activity', pd.Series.mode),
    naive_prediction_time = ('time_until_next_event', 'mean')
)
df_naive_predictor_result
df_naive_predictor_dict

,naive_prediction_activity,naive_prediction_time
event concept:name,,
A_ACCEPTED,O_SELECTED,2.281904e+02
A_ACTIVATED,"[A_REGISTERED, W_Valideren aanvraag]",3.480333e+00
A_APPROVED,A_ACTIVATED,1.230667e+00
A_CANCELLED,W_Completeren aanvraag,3.921874e+06
A_DECLINED,N\A,3.470111e+00
A_FINALIZED,O_CREATED,6.295000e+00
A_PARTLYSUBMITTED,A_PREACCEPTED,3.921100e+01
A_PREACCEPTED,W_Completeren aanvraag,4.065000e-01
A_REGISTERED,A_ACTIVATED,2.010333e+00
A_SUBMITTED,A_PARTLYSUBMITTED,3.552432e-01
O_ACCEPTED,A_APPROVED,1.319250e+00
O_CANCELLED,O_SELECTED,7.630000e-01
O_CREATED,O_SENT,4.515385e-02
O_DECLINED,A_DECLINED,1.154000e+00
O_SELECTED,A_FINALIZED,5.055769e-01
O_SENT,W_Nabellen offertes,1.823462e-01
O_SENT_BACK,W_Valideren aanvraag,2.632000e-01
W_Afhandelen leads,W_Afhandelen leads,1.765249e+05
W_Beoordelen fraude,W_Beoordelen fraude,2.326980e+01
W_Completeren aanvraag,W_Completeren aanvraag,8.294683e+05
W_Nabellen incomplete dossiers,W_Nabellen incomplete dossiers,1.705914e+05
W_Nabellen offertes,W_Nabellen offertes,1.547879e+06
W_Valideren aanvraag,W_Nabellen incomplete dossiers,3.443612e+05
W_Wijzigen contractgegevens,N\A,0.000000e+00

In [38]:

df_naive_predictor_result = df_naive_predictor_result.assign(naive_prediction_activity='')
df_naive_predictor_result = df_naive_predictor_result.assign(naive_prediction_time=0)
for i, r in df_naive_predictor_result.iterrows():
    this_event = r['event concept:name']
    next_event = df_naive_predictor_dict.loc[this_event,'naive_prediction_activity']
    next_event_time = df_naive_predictor_dict.loc[this_event,'naive_prediction_time']
    df_naive_predictor_result.at[i,'naive_prediction_activity'] = next_event
    df_naive_predictor_result.at[i,'naive_prediction_time'] = next_event_time
    # print(this_event)
    # print(next_event)
    # print("=====")

    # df_naive_predictor_result[
    #     df_naive_predictor_result['event concept:name'] == i
    # ] = df_naive_predictor_dict.loc[i,'naive_prediction_activity']

df_naive_predictor_result

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event org:resource,event concept:name,event lifecycle:transition,event time:timestamp,case:concept:name,concept:name,time:timestamp,@@index,@@case_index,ground_truth_activity,ground_truth_time,time_until_next_event,naive_prediction_activity,naive_prediction_time
0,0,173688,2011-01-10 00:38:44.546000+00:00,20000,112.0,A_SUBMITTED,COMPLETE,2011-01-10 00:38:44.546000+00:00,173688,A_SUBMITTED,2011-01-10 00:38:44.546000+00:00,0,0,A_PARTLYSUBMITTED,2011-01-10 00:38:44.880000+00:00,3.340000e-01,A_PARTLYSUBMITTED,3.552432e-01
1,1,173688,2011-01-10 00:38:44.546000+00:00,20000,112.0,A_PARTLYSUBMITTED,COMPLETE,2011-01-10 00:38:44.880000+00:00,173688,A_PARTLYSUBMITTED,2011-01-10 00:38:44.880000+00:00,1,0,A_PREACCEPTED,2011-01-10 00:39:37.906000+00:00,5.302600e+01,A_PREACCEPTED,3.921100e+01
2,2,173688,2011-01-10 00:38:44.546000+00:00,20000,112.0,A_PREACCEPTED,COMPLETE,2011-01-10 00:39:37.906000+00:00,173688,A_PREACCEPTED,2011-01-10 00:39:37.906000+00:00,2,0,W_Completeren aanvraag,2011-01-10 00:39:38.875000+00:00,9.690000e-01,W_Completeren aanvraag,4.065000e-01
3,3,173688,2011-01-10 00:38:44.546000+00:00,20000,112.0,W_Completeren aanvraag,SCHEDULE,2011-01-10 00:39:38.875000+00:00,173688,W_Completeren aanvraag,2011-01-10 00:39:38.875000+00:00,3,0,W_Completeren aanvraag,2011-01-10 11:36:46.437000+00:00,3.942756e+04,W_Completeren aanvraag,8.294683e+05
4,4,173688,2011-01-10 00:38:44.546000+00:00,20000,NaN,W_Completeren aanvraag,START,2011-01-10 11:36:46.437000+00:00,173688,W_Completeren aanvraag,2011-01-10 11:36:46.437000+00:00,4,0,A_ACCEPTED,2011-01-10 11:42:43.308000+00:00,3.568710e+02,W_Completeren aanvraag,8.294683e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,154618822666,173796,2011-01-10 20:19:11.828000+00:00,15000,11001.0,O_CREATED,COMPLETE,2011-03-10 11:16:42.008000+00:00,173796,O_CREATED,2011-03-10 11:16:42.008000+00:00,995,36,O_SENT,2011-03-10 11:16:42.037000+00:00,2.900000e-02,O_SENT,4.515385e-02
996,154618822667,173796,2011-01-10 20:19:11.828000+00:00,15000,11001.0,O_SENT,COMPLETE,2011-03-10 11:16:42.037000+00:00,173796,O_SENT,2011-03-10 11:16:42.037000+00:00,996,36,W_Nabellen offertes,2011-03-10 11:16:42.193000+00:00,1.560000e-01,W_Nabellen offertes,1.823462e-01
997,154618822668,173796,2011-01-10 20:19:11.828000+00:00,15000,11001.0,W_Nabellen offertes,SCHEDULE,2011-03-10 11:16:42.193000+00:00,173796,W_Nabellen offertes,2011-03-10 11:16:42.193000+00:00,997,36,W_Completeren aanvraag,2011-03-10 11:16:43.451000+00:00,1.258000e+00,W_Nabellen offertes,1.547879e+06
998,154618822669,173796,2011-01-10 20:19:11.828000+00:00,15000,11001.0,W_Completeren aanvraag,COMPLETE,2011-03-10 11:16:43.451000+00:00,173796,W_Completeren aanvraag,2011-03-10 11:16:43.451000+00:00,998,36,W_Nabellen offertes,2011-10-10 17:23:25.455000+00:00,1.851160e+07,W_Completeren aanvraag,8.294683e+05
999,154618822670,173796,2011-01-10 20:19:11.828000+00:00,15000,11201.0,W_Nabellen offertes,START,2011-10-10 17:23:25.455000+00:00,173796,W_Nabellen offertes,2011-10-10 17:23:25.455000+00:00,999,36,N\A,N\A,0.000000e+00,W_Nabellen offertes,1.547879e+06